h1 {
	color: grey;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

h2 {
	color: #008B8B;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

body {
    margin-top: 20px;
    font-size: 10px;
    text-align: center;
}

.profilbild {
    border-radius: 50%;
    width: 70%;
    margin-top: 10%;
}

.loggor {
	width: 20%;
}

.jobbkvadratbild {
	width: 100%;
	margin-top: 10%
}

.kontaktgif {
	background-image: url("https://media2.giphy.com/media/36wdaxsOfaN5C/200.webp#16");
	filter: grayscale(100%);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center; 
	padding-top: 80px;
	padding-bottom: 80px;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 30px;
	margin-bottom: 10px;
}

.white {
	color: white;
	text-decoration: none;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.white2 {
	color: white;
	text-decoration: none;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.black {
	color: black;
	text-decoration: none;
}

.asustext {
	background-color: #a3a3c2;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.asustext2 {
	font-size: 50px;
	color: #a3a3c2;
	text-align: right;
	margin-right: 50px;
}

.glossytext {
	background-color: #ffcccc;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.glossytext2 {
	font-size: 50px;
	color: #ffcccc;
	text-align: right;
	margin-right: 50px;
}

.lundtext {
	background-color: #d6d6c2;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.lundtext2 {
	font-size: 50px;
	color: #d6d6c2;
	text-align: right;
	margin-right: 50px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.indexsidan {
	background-image: url();
	background-size: 50%;
	background-repeat: no-repeat;	
}

.linnsidan {
	background-image: url(linnfb.jpg);
	background-size: 50%;
	background-repeat: no-repeat;
}

.asussidan{
	background-image: url(asus3.jpg);
	background-size: 50%;
	background-repeat: no-repeat;
}

.glossysidan {
	background-image: url(glossybox.jpg);
	background-size: 50%;
	background-repeat: no-repeat;
}

.lundsidan {
	background-image: url(lund2.jpg);
	background-size: 50%;
	background-repeat: no-repeat;	
}


@media only screen and (min-width: 500px) {
	.profilbild {
		width: 40%;
	}
	.loggor {
		width: 10%;
		}
	.jobbkvadratbild {
		width: 80%;
		}
	p {
		font-size: 15px;
		font-family: 'Raleway', sans-serif;
		margin-left: 10%;
		margin-right: 10%;
	}
	.kontaktgif {
		background-size: 80%;
	}
	.asustext {
		margin-left: 10%;
		margin-right: 10%;
	}
		.glossytext {
		margin-left: 10%;
		margin-right: 10%;
	}
		.lundtext {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media only screen and (min-width: 760px) {
	.profilbild {
		width: 20%;
	}
	.loggor {
		width: 5%;
		margin-top: 3%
		}
	.jobbkvadratbild {
		width: 450px;
		margin-top: 300px;

	}
	p {
		font-size: 15px;
		font-family: 'Raleway', sans-serif;
		margin-left: 0%;
		margin-right: 0%;
	}
	.kontaktgif {
		background-size: 400px;
		margin-top: 150px;
		margin-bottom: 20px;
	}

	.jobb1 {
		display: inline-block;
	}
		.asustext {
		margin-left: 0%;
		margin-right: 0%;
	}
		.glossytext {
		margin-left: 0%;
		margin-right: 0%;
	}
		.lundtext {
		margin-left: 0%;
		margin-right: 0%;
	}
}

